.incdec{
    padding: 0px 10px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}
.count{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center; 
    border-radius: 10px;
    width: 8pc;
    background-color: #000000;
    margin-left: 110px;
    padding: 0px;
    height: 2.5pc;

}
.number{
    margin-top: 15px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}
.clr{
    color: white;
    font-size: 15px;
}
.bottom-right {
    position: fixed;
    bottom: 60px; 
   right: 250px;
   margin-bottom: 20px;
  }
.checkOut{
    position: fixed;
    bottom: 20px; 
    right: 260px;
    padding: 6px 26px;
}
.buy{
    background-color: #B6FF00;
    font-weight: 700;
    color: black;
    /* padding: 10px 10px 10px 10px; */
}
.buy:hover{
    background-color: #B6FF00;
    font-weight: 700;
}
.cartP{
    text-align: center;
    font-weight: 500;
}
.line {
    border: 0;
    border-top: 1px dashed #000;
    margin: 20px 0;
  }
.cartPp{
    font-size: 12px;
}
.checkCart{
    padding: 10px 10px 10px 10px;
}
.summary{
    padding-left: 0px;
    padding-right: 0px;
}

@media (max-width:1440px){
    .count{
        margin-left: 140px;
        margin-bottom: 20px;
    }

}
@media (max-width:1024px){
    .count{
        margin-left: 80px;
        margin-bottom: 20px;
    }

}
@media (max-width:768px){
    .count{
        margin-left: 40px;
        margin-bottom: 20px;
    }

}
@media (max-width:430px){
    .count{
        margin-left: 110px;
        margin-bottom: 20px;
    }
    .lastE{
        text-align: center;
    }

}
@media (max-width:425px){
    .count{
        margin-left: 110px;
        margin-bottom: 20px;
    }
    .lastE{
        text-align: center;
    }

}
@media (max-width:375px){
    .count{
        margin-left: 90px;
        margin-bottom: 20px;
    } 

}
@media (max-width:320px){
    .count{
        margin-left: 60px;
        margin-bottom: 20px;
    }
}
